<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <a href="https://tycho-fc797.firebaseapp.com" class="card clickable">
          <div class="card-img">
              <img src="../../../../assets/images/portfolio/tycho/workouts.jpg">
          </div>
            <div class="card-title">
              <div class="display-8 w-100 text-center">Project Tycho</div>
            </div>
          <div class="card-block">
              <p class="card-text">
                  Project Tycho is the code name for the fitness app designed by <a href="https://www.scarlaria.com">Scarlaria</a> to allow users to schedule workouts and view the statistics of their workouts.
              </p>
          </div>
          <div class="card-block">
              <div class=" card-title display-8 w-100 text-center"><a href ="https://tree.taiga.io/project/scarlaria-tycho-web/backlog">Features</a></div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">CRUD Workouts/Exercises/Logged-Workouts & Goals</li>
                  <li class="list-group-item">View Charts based on Logged-Workouts</li>
                  <li class="list-group-item">
                    Authentication w/ Email/Google/Twitter
                  </li>
              </ul>
          </div>
          <div class="card-footer w-100">
              <div class="align-content-end">
                  <img src="../../../../assets/images/angular-icon.png" height="30px">
                  <img src="../../../../assets/images/typescript-icon.png" height="30px">
                  <img src="../../../../assets/images/firebase-icon.png" height="30px">
              </div>
        </div>
      </a>
  </div>
</div>