<div class="animated-fadeIn" style="overflow-x: hidden; overflow-y: hidden">

  <button class="btn-secondary mt-3 w-100"style="height:300px; background-image: url(../../../../../../assets/images/uct-banner.jpg); background-size: full; opacity: 1;" (click)="onTertiaryClick()">
    <div class="display-4 w-100 h-100 text-center align-middle align-content-around" style="color:#fff">
      Tertiary Education
    </div>  
  </button>
  <!-- <div style="height:300px; background-image: url(../../../../../../assets/images/agakhan-banner.jpg); background-size: cover; opacity: 1;" (click)="onSecondaryClick()">
    <div class="display-4 w-100 h-100 text-center align-middle" style="color:#fff">
        Secondary Education
      </div>  
  </div> -->
</div>