<!DOCTYPE HTML>
<html>
	<head>
		<title>Martin Ombura Jr.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="./assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="loading">
		<nav>

		</nav>
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main" >
			<!-- Header -->
				<header id="header" style="position: -6rem">
					<h1> <a class="nav-link" routerLinkActive="active" [routerLink]="['/bio']">Martin Ombura Jr.</a></h1>
					<div style="padding: 0.5rem"></div>
					<div class="display-7"> <a class="nav-link" routerLinkActive="active" [routerLink]="['/bio']">Bio</a> </div>
					<p>Software Engineer &nbsp;&bull;&nbsp; Guitarist &nbsp;&bull;&nbsp; Calesthenite</p>
					<div style="padding: 0.5rem"></div>
					<nav>
						<ul>
							<li><a href="https://www.facebook.com/martinomburajr" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://twitter.com/martinomburajr" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.instagram.com/martinomburajr/" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
							<li><a href="https://za.linkedin.com/in/martinomburajr" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/martinomburajr" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
							<li><a href="mailto:martin@scarlaria.com?" class="icon fa-envelope-o" target="_blank"><span class="label">Email</span></a></li>
						</ul>
					</nav>
				</header>

			<!-- Footer -->
				<footer id="footer">
					<span class="copyright"> <a href="http://www.scarlaria.com" target="_blank">&copy;&nbsp;&bull;&nbsp; Scarlaria &nbsp;&bull;&nbsp;</a></span>
				</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			// window.onload = function() { document.body.className = ''; }
			// window.ontouchmove = function() { return false; }
			// window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>