<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
        <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="compass" clrVerticalNavIcon></clr-icon>
                Home
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/bio']"
                        routerLinkActive="active">
                        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
                        Bio
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink routerLinkActive="active" [routerLink]="['/portfolio']">
                <clr-icon shape="folder" clrVerticalNavIcon></clr-icon>
                    Portfolio
                </a>
            <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="compass" clrVerticalNavIcon></clr-icon>
                Hobbies
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/music']"
                       routerLinkActive="active">
                       <clr-icon shape="music-note" clrVerticalNavIcon></clr-icon>
                        Music
                    </a>
                    <a clrVerticalNavLink
                    [routerLink]="['/articles']"
                       routerLinkActive="active">
                       <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>
                        Articles
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink routerLinkActive="active"[routerLink]="['/contact']">
                <clr-icon shape="chat-bubble" clrVerticalNavIcon></clr-icon>
                Contact
            </a>
            <a clrVerticalNavLink routerLinkActive="active" href="./../../../assets/other/martinombura-cv.pdf" class="bottom-left btn-warning">
                <clr-icon shape="download" clrVerticalNavIcon></clr-icon>
                Download CV
                <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
            </a>
         </clr-vertical-nav>
    </div>
</div>


<footer class="app-footer">
    <a href="https://scarlaria.com">@martinomburajr</a>
    <span class="float-right">Powered by <a href="https://scarlaria.com">Scarlaria</a>
    </span>
</footer>