<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <clr-vertical-nav-group routerLinkActive="active">
                <a clrVerticalNavLink
                [routerLink]="['/bio']"
                    routerLinkActive="active">
                    <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
                    Bio
                </a>
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/bio/education']"
                        routerLinkActive="active">
                        <clr-icon shape="lightbulb" clrVerticalNavIcon></clr-icon>
                        Education
                    </a>
                    <!-- <clr-vertical-nav-group-children *clrIfExpanded="true">
                            <a clrVerticalNavLink
                            [routerLink]="['/bio/education/tertiary']"
                                routerLinkActive="active">
                                <clr-icon shape="world" clrVerticalNavIcon></clr-icon>
                                Tertiary
                            </a>
                        </clr-vertical-nav-group-children>
                    <clr-vertical-nav-group-children *clrIfExpanded="true">
                            <a clrVerticalNavLink
                            [routerLink]="['/bio/education/secondary']"
                                routerLinkActive="active">
                                <clr-icon shape="book" clrVerticalNavIcon></clr-icon>
                                Secondary
                            </a>
                    </clr-vertical-nav-group-children> -->
                </clr-vertical-nav-group-children>
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/bio/work-experience']"
                        routerLinkActive="active">
                        <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>
                        Work Experience
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <a clrVerticalNavLink
                [routerLink]="['/portfolio']"
                    routerLinkActive="active">
                    <clr-icon shape="folder" clrVerticalNavIcon></clr-icon>
                    Portfolio
                </a>
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/portfolio/tycho']"
                       routerLinkActive="active">
                       <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
                        Project Tycho
                    </a>
                </clr-vertical-nav-group-children>
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/portfolio/logos']"
                       routerLinkActive="active">
                       <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>
                        Project Logos
                    </a>
                </clr-vertical-nav-group-children>
                <!-- <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/portfolio/assembly']"
                       routerLinkActive="active">
                       <clr- icon shape="clipboard" clrVerticalNavIcon></clr-icon>
                        Assembler
                    </a>
                </clr-vertical-nav-group-children> -->
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="compass" clrVerticalNavIcon></clr-icon>
                Hobbies
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink
                    [routerLink]="['/music']"
                       routerLinkActive="active">
                       <clr-icon shape="flame" clrVerticalNavIcon></clr-icon>
                        Music
                    </a>
                    <a clrVerticalNavLink
                    [routerLink]="['/articles']"
                       routerLinkActive="active">
                       <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>
                        Articles
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink routerLinkActive="active"[routerLink]="['/contact']">
                <clr-icon shape="chat-bubble" clrVerticalNavIcon></clr-icon>
                Contact
            </a>
            <a clrVerticalNavLink routerLinkActive="active" href="./../../../assets/other/martinombura-cv.pdf" class="bottom-left btn-primary">
                <clr-icon shape="download" clrVerticalNavIcon></clr-icon>
                CV/Resume
            </a>
            <a clrVerticalNavLink routerLinkActive="active" href="./../../../assets/other/recommendations.zip" class="bottom-left btn-warning">
                <clr-icon shape="download" clrVerticalNavIcon></clr-icon>
                Recommendation Letters
            </a>
         </clr-vertical-nav>
    </div>
</div>


<footer class="app-footer">
    <div class="row w-100">
        <!-- <div class="float-left">
                <a href="https://scarlaria.com">@martinomburajr</a>
        </div> -->
        <div class="float-right">
            <img src="../../../../assets/images/angular-icon.png" height="30px">
            <img src="../../../../assets/images/typescript-icon.png" height="30px">
            <img src="../../../../assets/images/firebase-icon.png" height="30px">
        </div>
    </div>
</footer>