  <div class="animated fadeIn">
      <div class="card">
          <div class="card-img">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4084514.5923707867!2d34.606175259448996!3d-1.3047996513749927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1505102883696" class="justify-content-center align-content-center w-100" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="card-block">
              <div class="card-title">
                <div class="display-5 w-100 text-center">Contact Me</div>
                <div class="card-text">
                  <div>Nairobi,</div>
                  <div>Kenya,</div>
                  <div>P.O Box - 34123-80118</div>
                </div>
              </div>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row align-content-around justify-content-center w-100 text-center">
                  <!-- <a href="https://www.facebook.com/martinomburajr" class="fa fa-facebook fa-2x col ml-2" target="_blank">
                  </a>  -->
                  <a href="https://twitter.com/martinomburajr" class="fa fa-twitter fa-2x col-3" target="_blank">
                  </a>
                  <a href="https://www.instagram.com/martinomburajr/" class="fa fa-instagram fa-2x col-3" target="_blank">
                  </a>
                  <a href="https://za.linkedin.com/in/martinomburajr" class="fa fa-linkedin fa-2x col-3" target="_blank">
                  </a>    
                  <a href="https://github.com/martinomburajr" class="fa fa-github fa-2x col-3" target="_blank">
                  </a>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row w-100">
                  <span class="col-sm-1">
                      <clr-icon shape="mobile" size="32" clrVerticalNavIcon></clr-icon>
                  </span>
                  <span class="col-sm-11">
                    +254797107317
                  </span>
                </div>
              </li>
              <li class="list-group-item">
                  <div class="row w-100">
                      <span class="col-sm-1">
                          <clr-icon shape="envelope" size="32" clrVerticalNavIcon></clr-icon>
                      </span>
                      <span class="col-sm-11">
                          <a href="mailto:info@martinomburajr.com?" target="_blank">
                              info@martinomburajr.com
                            </a>
                      </span>
                    </div>
              </li>
          </ul>
          <!-- <div class="card-footer">
              <a href="..." class="btn btn-sm btn-link">Action 1</a>
              <a href="..." class="btn btn-sm btn-link">Action 2</a>
          </div> -->
      </div>
  </div>
