  <div class="animated fadeIn">
    <div style="margin-top: 10%; margin-left: 4%">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4084514.5923707867!2d34.606175259448996!3d-1.3047996513749927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1505102883696" class="justify-content-center align-content-center" width="1080" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      <div class="row mt-5">
        <div class="col-2">
            <a href="https://www.facebook.com/martinomburajr" class="fa fa-facebook fa-2x btn btn-lg btn-secondary " target="_blank">
            </a>    
        </div>
        <div class="col-2">
            <a href="https://twitter.com/martinomburajr" class="btn btn-secondary btn-secondary-outline fa fa-twitter fa-3x" target="_blank">
              <!-- <i class="fa fa-twitter fa-2x"></i> -->
            </a>
        </div>
        <div class="col-2">
            <a href="https://www.instagram.com/martinomburajr/" class="btn btn-secondary fa fa-instagram fa-2x" target="_blank">
              <!-- <i class="fa fa-instagram fa-2x"></i> -->
            </a>
        </div> 
        <div class="col-2">
            <a href="https://za.linkedin.com/in/martinomburajr" class="btn btn-secondary fa fa-linkedin fa-2x" target="_blank">
                <!-- <i class="fa fa-linkedin fa-2x"></i> -->
            </a>    
        </div>
        <div class="col-2">
            <a href="https://github.com/martinomburajr" class="btn btn-secondary fa fa-github fa-2x" target="_blank">
              <!-- <i class="fa fa-github fa-2x"></i> -->
            </a>
        </div>
        <div class="col-2">
            <a href="mailto:martin@scarlaria.com?" class="btn btn-secondary fa fa-envelope fa-2x" target="_blank">
              <!-- <i class="fa fa-envelope fa-2x"></i> -->
            </a>
        </div>
      </div> 
    </div>
  </div>
