
<body>
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-block h-100" style="height:400px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4084514.5923707867!2d34.606175259448996!3d-1.3047996513749927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1172d84d49a7%3A0xf7cf0254b297924c!2sNairobi!5e0!3m2!1sen!2ske!4v1505102883696" width="1500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-4 display-7">
            Email:
          </div>
          <div class="col-8 display-7">
              <a href="mailto:info@martinomburajr.com?Subject=Hello%20Martin" target="_top">info@martinomburajr.com</a>
          </div>   
        </div>
      </div>
      <div class="card-block">
        <div class="row">
            <div class="col-4 display-7">
              Phone:
            </div>
            <div class="col-8 display-7">
              +254797107317
            </div>   
        </div>
      </div>
    </div>
  </div>
</body>