<div class="card-columns">
  <div class="card pt-0">
      <div class="card-img">
          <img src="../../../../../assets/images/work-experience/uplift-app.png">
      </div>
    <div class="card-block pt-0">
      <div class="card-title pb-0 mb-0"><h2><b>Uplift App</b></h2></div>
      <p class="text-right mt-0" style="font-size: 12px">Feb (2016) – October(2016)</p>
      <ul class="list-group list-group-flush" style="list-style: none;">
          <li><b>Company:</b>&nbsp; TeenActiv</li>
          <li><b>Role:</b>&nbsp; Chief Coder</li>
          <li><b>Technologies:</b>&nbsp; Ionic,AngularJs,Cordova,Firebase</li>
      </ul>
    </div>
      <div class="card-block">
      <div class="card-text">
          <ul>
              <li>
                  Developed a hybrid application that allows users to challenge each other on various categories e.g.
                  education, health, whilst donating proceeds to local charities.
              </li>
              <li>
                  Users earn rewards such as vouchers from trusted brands e.g. Vida etc. upon successful completion of
                  the challenge.
              </li>
              <li>
                  Developed using AngularJs and Ionic and use of NOSQL Database Firebase.
              </li>
            </ul>
        </div>
      </div>
      <div class="card-block">
        <p class="text-right pt-0 mt-0" style="font-size:0.8rem">
            Cape Town, South Africa
        </p>
      </div>
      <div class="card-footer">
          <a href="./../../../assets/other/recommendation-letters/uplift-app.pdf">
            <clr-icon shape="download" clrVerticalNavIcon></clr-icon>
            <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
            Reference
          </a>
      </div>  
  </div>
  <div class="card pt-0">
    <div class="card-block pt-0">
      <div class="card-title pb-0 mb-0"><h2><b>CASABIO App</b></h2></div>
      <p class="text-right mt-0" style="font-size: 12px">Feb (2016) –  November (2016)</p>
      <ul class="list-group list-group-flush" style="list-style: none;">
          <li><b>Company:</b>&nbsp; TeenActiv</li>
          <li><b>Role:</b>&nbsp; Chief Coder</li>
          <li><b>Technologies:</b>&nbsp; Android Java, REST</li>
      </ul>
    </div>
      <div class="card-block">
      <div class="card-text">
          <ul>
              <li>
                  Developed both a native and hybrid application for CASABIO organisation to allow users to interface
                  with their online platform
              </li>
              <li>
                  Learned how to create, manipulate and consume REST APIs
              </li>
              <li>
                  Developed using native Java (Native), AngularJs and Ionic (Hybrid)
              </li>
            </ul>
        </div>
      </div>
      <div class="card-block">
        <p class="text-right pt-0 mt-0" style="font-size:0.8rem">
            Cape Town, South Africa
        </p>
      </div>
      <div class="card-footer">
          <ul style="list-style: none;">
              <li><b>Employer:</b>&nbsp; David Evans</li>
              <li><b>Contact:</b>&nbsp; capebio@gmail.com</li>
          </ul>
      </div>  
    </div>
  <div class="card pt-0">
      <div class="card-img">
        <img src="../../../../../assets/images/work-experience/city-of-cape-town-government.jpg">
      </div>
    <div class="card-block pt-0">
      <div class="card-title pb-0 mb-0"><h2><b>HR Improvement Process</b></h2></div>
      <p class="text-right mt-0" style="font-size: 12px">July (2015) –  October (2015)</p>
      <ul class="list-group list-group-flush" style="list-style: none;">
          <li><b>Company:</b>&nbsp; City of Cape Town</li>
          <li><b>Role:</b>&nbsp; Chief Coder</li>
          <li><b>Technologies:</b>&nbsp; SAP ,BPMN Collaboration</li>
      </ul>
    </div>
      <div class="card-block">
      <div class="card-text">
          <ul>
              <li>
                  Worked as a Business Analyst for the City of Cape Town HR Department.
              </li>
              <li>
                  Job entailed creation, analysis and recommendations for process improvement within the City of Cape
                  Town HR Department using BPMN Collaboration diagrams and consultation with the employer.
              </li>
            </ul>
        </div>
      </div>
      <div class="card-block">
        <p class="text-right pt-0 mt-0" style="font-size:0.8rem">
            Cape Town, South Africa
        </p>
      </div>
      <div class="card-footer">
          <ul style="list-style: none;">
              <li><b>Employer:</b>&nbsp; Verity Japtha</li>
              <li><b>Contact:</b>&nbsp; verity.japhta@capetown.gov.za</li>
          </ul>
      </div>  
    </div>
  <div class="card pt-0">
    <div class="card-img">
      <img src="../../../../../assets/images/work-experience/siyavula.svg">
    </div>
    <div class="card-block pt-0">
      <div class="card-title pb-0 mb-0"><h2><b>Siyavula Mind Maps</b></h2></div>
      <p class="text-right mt-0" style="font-size: 12px">July (2015) –  October (2015)</p>
      <ul class="list-group list-group-flush" style="list-style: none;">
          <li><b>Company:</b>&nbsp; Siyavula</li>
          <li><b>Role:</b>&nbsp; Software Engineer</li>
          <li><b>Technologies:</b>&nbsp; Java, JGrapht</li>
      </ul>
    </div>
      <div class="card-block">
      <div class="card-text">
          <ul>
              <li>
                  Worked as part of a team to develop an application that displays mind-maps that aid teachers at
                  Siyavula in elaborating conceptual linkages between the sciences.
              </li>
              <li>
                  The application was written in Java, and utilized graphing data-structures to create and illustrate
                  the mind maps.
              </li>
            </ul>
        </div>
      </div>
      <div class="card-block">
        <p class="text-right pt-0 mt-0" style="font-size:0.8rem">
            Cape Town, South Africa
        </p>
      </div>
      <div class="card-footer">
          <ul style="list-style: none;">
              <li><b>Supervisor:</b>&nbsp; Michelle Kuttel</li>
              <li><b>Contact:</b>&nbsp; mkuttel@cs.uct.ac.za</li>
          </ul>
      </div>  
    </div>
    <div class="card pt-0">
        <div class="card-img">
          <img src="../../../../../assets/images/work-experience/effcomm.jpeg">
        </div>
      <div class="card-block pt-0">
        <div class="card-title pb-0 mb-0"><h2><b>Effcomm Fintech Operations</b></h2></div>
        <p class="text-right mt-0" style="font-size: 12px">July (2015) –  October (2015) (Part-time)</p>
        <ul class="list-group list-group-flush" style="list-style: none;">
            <li><b>Company:</b>&nbsp; EffcommSA</li>
            <li><b>Role:</b>&nbsp; Developer</li>
            <li><b>Technologies:</b>&nbsp; PHP ZendFramework, Javascript, SQL</li>
        </ul>
      </div>
        <div class="card-block">
        <div class="card-text">
            <ul>
                <li>
                    Worked using the SCRUM Software Design Methodology.
                </li>
                <li>
                    Utilized test-driven development (TDD) to develop additional modules to the portal.
                </li>
                <li>
                  Familiarized myself with Change Requests for Raymond James Internal Portal (UK Client).
                </li>
                <li>
                    Worked primarily using PHP, Javascript and SQL as part of the Zend Framework.
                  </li>
              </ul>
          </div>
        </div>
        <div class="card-block">
          <p class="text-right pt-0 mt-0" style="font-size:0.8rem">
              Cape Town, South Africa
          </p>
        </div>
        <div class="card-footer">
            <ul style="list-style: none;">
                <li><b>Employer:</b>&nbsp; Allister Smith</li>
                <li><b>Contact:</b>&nbsp; asmith@effcomm.com</li>
            </ul>
        </div> 
        <div class="card-footer">
            <a class="col" href="./../../../assets/other/recommendation-letters/effcomm.pdf">
              <clr-icon shape="download" clrVerticalNavIcon></clr-icon>
              <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
              Reference
            </a> 
          </div>
      </div>

      <div class="card pt-0">
          <div class="card-img">
            <img src="../../../../../assets/images/work-experience/effcomm.jpeg">
          </div>
        <div class="card-block pt-0">
          <div class="card-title pb-0 mb-0"><h2><b>Internal Portal Development</b></h2></div>
          <p class="text-right mt-0" style="font-size: 12px">June (2015) –  July (2015) (Internship)</p>
          <ul class="list-group list-group-flush" style="list-style: none;">
              <li><b>Company:</b>&nbsp; EffcommSA</li>
              <li><b>Role:</b>&nbsp; Junior Developer</li>
              <li><b>Technologies:</b>&nbsp; PHP ZendFramework, Javascript, SQL</li>
          </ul>
        </div>
          <div class="card-block">
          <div class="card-text">
              <ul>
                  <li>
                      Worked on the company’s internal portal by fully automating their Intern Application System.
                  </li>
                  <li>
                      Familiarized myself with Project Management Software as well as Revision Control Software such as
                      JIRA and Bitbucket(Git).
                  </li>
                  <li>
                      Worked using the SCRUM Software Design Methodology.
                  </li>
                </ul>
            </div>
          </div>
          <div class="card-block">
            <p class="text-right pt-0 mt-0" style="font-size:0.8rem">
                Cape Town, South Africa
            </p>
          </div>
          <div class="card-footer">
              <ul style="list-style: none;">
                  <li><b>Employer:</b>&nbsp; Allister Smith</li>
                  <li><b>Contact:</b>&nbsp; asmith@effcomm.com</li>
              </ul>
          </div>  
          <div class="card-footer">
              <a class="col" href="./../../../assets/other/recommendation-letters/effcomm.pdf">
                <clr-icon shape="download" clrVerticalNavIcon></clr-icon>
                <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
                Reference
              </a> 
            </div>
        </div>

        <div class="card pt-0">
            <div class="card-img">
              <img src="../../../../../assets/images/work-experience/banc-abc.jpg">
            </div>
          <div class="card-block pt-0">
            <div class="card-title pb-0 mb-0"><h2><b>Regional Sales Dashboard</b></h2></div>
            <p class="text-right mt-0" style="font-size: 12px">June (2015) –  July (2015) (Internship)</p>
            <ul class="list-group list-group-flush" style="list-style: none;">
                <li><b>Company:</b>&nbsp; BancABC</li>
                <li><b>Role:</b>&nbsp; UX Designer and Software Engineer</li>
                <li><b>Technologies:</b>&nbsp; VBA, SQL</li>
            </ul>
          </div>
            <div class="card-block">
            <div class="card-text">
                <ul>
                    <li>
                        Developed a Loan Tracking/Sales Dashboard using VBA and SQL to help the bank track loans made by their
                        sales agents at real-time.
                    </li>
                    <li>
                        Worked closely under the database administrator in South Africa, to feed the banks centralized
                        information from South Africa to Tanzania using SQL Management Studio.
                    </li>
                  </ul>
              </div>
            </div>
            <div class="card-block">
              <p class="text-right pt-0 mt-0" style="font-size:0.8rem">
                  Dar-es-Salaam, Tanzania
              </p>
            </div>
            <div class="card-footer">
                <ul class="col" style="list-style: none;">
                    <li><b>Employer:</b>&nbsp; Bryne Rwodzi</li>
                    <li><b>Contact:</b>&nbsp; brwodzi@gmail.com</li>
                </ul>
          </div>
          <div class="card-footer">
            <a class="col" href="./../../../assets/other/recommendation-letters/banc-abc.pdf">
              <clr-icon shape="download" clrVerticalNavIcon></clr-icon>
              <clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>
              Reference
            </a> 
          </div>
        </div>

</div>