
<div class="display-4" style="margin-top: 26%; margin-left: 28%">
        <clr-icon shape="cog" size="72" clrVerticalNavIcon></clr-icon>
    ... under construction
</div>
<div class="spinner" style="margin-left: 46%">
        Loading...
</div>


<!-- <div style="background-image: url(./../../../assets/css/images/bg.jpg)">
    <div class="card-deck">
        <div class="card animated FadeIn">
            
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title">Uplift App</h4>
            <p class="card-text">
                ● Developed a hybrid application that allows users to challenge each other on various categories e.g.
                education, health, whilst donating proceeds to local charities.
                ● Users earn rewards such as vouchers from trusted brands e.g. Vida etc. upon successful completion of
                the challenge.
                ● Developed using AngularJs and Ionic and use of NOSQL Database Firebase.
            </p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Dates: Feb 2016 - Nov 2016</small>
            </div>
        </div>
        <div class="card animated FadeIn">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card animated FadeIn">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>

    </div>
</div> -->
