<div class="animated fadeIn">
      <div class="row">
            <div class="card col-6">
                        <div class="card-img">
                        <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/179821730&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                        <div class="card-block">
                              <h2 class="card-title w-100 text-center">Titania Ft. Mel.B</h2>
                              <div class="card-text">
                              <p>Over the December break in 2014, I was talking to <a href="https://www.instagram.com/melissabrown94/?hl=en">Melissa Brown</a> and she was working on some piano ideas. So we did a mini-collab whilst I was back in Kenya, and she in South Africa. She sent me the demo to a song she had written and I decided to layer it with some creepy tones</p>
                              </div>
                        </div>
                        <ul class="list-group list-group-flush">
                              <li class="list-group-item">Digital Audio Workstation: Reaper</li>
                              <li class="list-group-item">Drums: Addictive Drums</li>
                              <li class="list-group-item">Guitar: Ibanez RGA7</li>
                              <li class="list-group-item">Guitar Effects: Guitar Rig 5</li>
                        </ul>
                        <div class="card-footer">
                              <a href="https://soundcloud.com/martin-ombura-jr" class="btn-link">Check my soundcloud profile</a>
                        </div>
                  </div>
    

      <div class="card col-6">
            <div class="card-img">
                  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143096769&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
            <div class="card-block">
                  <h2 class="card-title w-100 text-center">The Hedonist</h2>
                  <div class="card-text">
                  <p>This song was pretty much the first song I ever tried to track and mix. I was awake at like 4:30 am late-2014, could not really sleep and I just decided to jump on. My friend Louis gave me the inspiration to try create some Djent material and upload it!</p>
                  </div>
            </div>
            <ul class="list-group list-group-flush">
                  <li class="list-group-item">Digital Audio Workstation: Reaper</li>
                  <li class="list-group-item">Drums: Addictive Drums</li>
                  <li class="list-group-item">Guitar: Ibanez RGA7</li>
                  <li class="list-group-item">Guitar Effects: Guitar Rig 5</li>
            </ul>
            <div class="card-footer">
                  <a href="https://soundcloud.com/martin-ombura-jr" class="btn-link">Check my soundcloud profile</a>
            </div>
      </div>
      </div>

</div>





