#bg2 {
    -moz-animation: bg 60s linear infinite;
		-webkit-animation: bg 60s linear infinite;
		-ms-animation: bg 60s linear infinite;
		animation: bg 60s linear infinite;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	/* Set your background with this */

		background: rgba(52,140,178,0.3) url("/../../../assets/css/images/bg.jpg") bottom left;
		/*background-repeat: repeat-x;*/
		height: 100%;
		left: 0;
		opacity: 1;
		position: fixed;
        top: 0;
        min-width: 100%;
  min-height: 100%;
}

#bg2 .card {
    background-image: url("/../../../assets/css/images/bg.jpg"), url("/../../../../assets/css/images/overlay.svg");
}

	body, input, select, textarea {
		color: #333;
		font-family: "Segoe UI", sans-serif;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.65;
	}


	#overlay-bio {
		-moz-animation: overlay 1.5s 1.5s forwards;
		-webkit-animation: overlay 1.5s 1.5s forwards;
		-ms-animation: overlay 1.5s 1.5s forwards;
		animation: overlay 1.5s 1.5s forwards;
		background-attachment: fixed, fixed;
		background-image: url("/../../../assets/css/images/bg.jpg"), url("/../../../../assets/css/images/overlay.svg");
		background-position: top left, center center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		height: 100%;
		left: 0;
		opacity: 0.3;
		position: fixed;
		top: 0;
		width: 100%;
	}